@model WebApplication1.Models.Student
<style>
    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: linear-gradient(0deg, rgb(81, 211, 246) 0%, rgb(109, 153, 156) 86%);
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    button {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    body {
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBfRgy3BuKOS2vtySQuip10aahY6q-jLt7KoDLarPO_A&s");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<form method="post" asp-action="Add">

    <label for="Name" class="form-label"> Name </label>
    <input type="text" name="Name" class="form-control" />
    </br>

    <label for="Age" class="form-label"> Age </label>
    <input type="number" name="Age" class="form-control" />
    </br>

    <label for="Email" class="form-label"> Email </label>
    <input type="Email" name="Email" class="form-control" />
    </br>

    <label for="PhoneNumber" class="form-label">Phone Number </label>
    <input type="number" name="PhoneNumber" class="form-control" />
    </br>

    <label for="Address" class="form-label"> Address </label>
    <input type="text" name="Address" class="form-control" />
    </br>

    <button type="submit" class="btn btn-primary"> Submit </button>
</form>
